@charset "utf-8";
body {
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
h1, h2, h3, h4 {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}
.wrapper {
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
}
h1 {
	text-align: left;
	margin-top: 0px;
	padding-top: 10px;
	margin-bottom: 0px;
	padding-left: 13px;
	color: #4B5FFB;
}
p {
	padding-left: 10px;
	padding-right: 10px;
	color: #444;
	font-family: "Helvetica Neue","HelveticaNeue",Helvetica,sans-serif;
	font-size: 13px;
	line-height: 22px;
}
#conclusion {
	color: #F0D93C;
	background-color: #309FC0;
	text-align: center;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	font-size: 16px;
	font-family: "Helvetica Neue","HelveticaNeue",Helvetica,sans-serif;
	font-variant: normal;
	font-weight: normal;
	clear: left;
}
.codewrapper {
	max-width: 80%;
	min-width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-left: 25px;
	background-color: #000000;
	padding-right: 10px;
	padding-top: 1px;
	padding-bottom: 5px;
	border: 1px solid #D9F0F7;
	border-radius: 25px;
}
.keynote {
	min-width: 80%;
	max-width: 80%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 8px;
	padding-right: 8px;
	padding-bottom: 8px;
	padding-left: 8px;
	background-color: #FCFCA1;
	color: #6A124E;
	font-family: georgia, serif;
	border: 2px solid #B4E2EF;
}
#nav {
	float: right;
	display: block;
	margin-bottom: 20px;
}
#main {
	float: left;
	background-color: #FFFFFF;


}
#nav a {
	display: block;
	text-align: center;
	color: #FFFFFF;
	clear: left;
	font-family: entypo;
	margin-right: auto;
	margin-left: auto;
	font-size: 20px;
	padding-top: 2px;
	padding-right: 6px;
	padding-bottom: 2px;
	padding-left: 6px;
}
#nav ul {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 77px;
	margin-left: 0px;
	list-style-type: none;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	display: block;
}
.opening {
	text-align: justify;
	font-variant: small-caps;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
	font-style: oblique;
	font-weight: 400;
	font-size: xx-large;
	-webkit-box-shadow: 0 0;
	box-shadow: 0 0;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	text-shadow: 0 0;
	letter-spacing: 4px;
	vertical-align: baseline;
	margin-top: 20px;
}
blockquote {
font-family: Georgia, serif;
font-size: 18px;
font-style: italic;
width: 500px;
margin: 0.25em 0;
padding: 0.35em 40px;
line-height: 1.45;
position: relative;
color: #383838;
}

blockquote:before {
display: block;
padding-left: 15px;
content: "\201C";
font-size: 60px;
position: absolute;
left: -20px;
top: -20px;
color: #7a7a7a;
}

cite {
padding: 0.35em 40px;
color: #999999;
font-size: 14px;
display: block;
margin-top: 5px;
}
 
cite:before {
content: "\2014 \2009";
}

figure img  {
	margin-left: 10px;
	margin-right: 10px;
	background-color: #FFFFFF;
	margin-top: 10px;
}
figure {
	min-width: 80%;
	max-width: 80%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-bottom: 20px;
	margin-top: 10px;
}
.definitionblock {
	margin-right: auto;
	margin-left: auto;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	border-radius: 5px;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
	max-width: 80%;
	background-color: #6BD5FD;
	color: #FFFFFF;
	font-size: large;
	font-weight: 400;

}
.definitionblock .word {
	border-bottom: 1px dotted #868686;
	padding-bottom: 9px;
	margin-bottom: 8px;
	font-style: italic;
	text-align: center;
	color: #2D2649;
	text-decoration: underline;
}
.definitionblock .definition {
	text-align: center;
	color: #124654;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
	font-weight: 400;
	font-size: large;
}
h2 {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 20pt;
	color: navy;
	padding-top: 12px;
	padding-bottom: 3px;
	padding-left: 10px;
	background-color: #FFFFFF;
}
figure figcaption {
	margin-top: 5px;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
	font-size: small;
	text-align: center;
	font-weight: 500;
}
#nav ul li {
	float: left;
	background-color: #14BCFB;
	border-radius: 15px;
	margin-left: 20px;
}
#nav a:link {
	text-decoration: none;
}
#nav a:hover {
	background-color: #02749E;
	text-decoration: underline;
}
.opening div {
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 12px;
	border-bottom: thin dotted #000000;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 0px;
}
.details {
	margin-left: 60px;
	background-color: #BFF5D4;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	border: thin solid #0000EE;
}
pre   {
	max-width: 100%;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin-top: 0px;
	margin-left: 0px;
}
ul {
	list-style-position: inside;
}
#header {
}
#header .top_double_line {
	background-image: url(index_images/double_line.png);
	height: 8px;
	margin-bottom: 4px;
}
#header .lower_double_line {
	height: 8px;
	margin-top: 4px;
	margin-bottom: 5px;
	background-image: url(index_images/double_line.png);
}
#header .wrapper .logo {
	float: left;
	width: 60%;
	min-width: 0px;
	vertical-align: middle;
	min-height: 100px;
	position: relative;
}
#header .wrapper .clear {
	clear: both;
}
.wrapper .logo img {
	float: left;
	vertical-align: middle;
	line-height: 100px;
	white-space: normal;
	min-height: 102px;
}
.wrapper .logo .cost_reduction_framework {
	float: left;
	display: inline;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	top: 50%;
	left: 120px;
	font-size: 38px;
	text-shadow: 2px 2px 7px #787878;
	margin-top: -5px;
}
#header .wrapper .crf_explanation_wrapper {
	float: right;
	max-width: 50%;
	width: 40%;
	height: 100px;
}
.wrapper .crf_explanation_wrapper .crf_explanation {
	line-height: 26px;
	margin-top: 9px;
	font-size: 17px;
}
.wrapper .what_is_crf {
	border-radius: 10px;
	background-color: #E9E9FF;
	max-width: 60%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	color: #0000FF;
	font-family: 400 13px/22px "Helvetica Neue","HelveticaNeue",Helvetica,sans-serif;
	margin-bottom: 10px;
	line-height: 16px;
	font-size: 16px;
	margin-top: 0px;
	display: none;
}
.wrapper #option_boxes {
	list-style-type: none;
	width: 100%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.wrapper #option_boxes li {
	margin-top: 1%;
	margin-right: 1%;
	margin-bottom: 1%;
	margin-left: 1%;
	float: left;
	min-width: 200px;
	max-width: 31%;
}#option_boxes li .option {
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	background-color: #E9E9FF;
	border-radius: 10px;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	font-family: 400 13px/22px "Helvetica Neue","HelveticaNeue",Helvetica,sans-serif;
	color: #6D70B3;
	line-height: 26px;
}
li .option h2 {
	text-align: center;
	margin-top: -10px;
	margin-bottom: 10px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	border-bottom: 1px dashed #9C9C9C;
	color: #3030FF;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	text-transform: none;
}
.clear {
	clear: both;
}
li .option a {
	display: inline;
}
li .option .content {
	min-height: 307px;
	text-align: justify;
}
.foundation {
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	text-align: justify;
	max-width: 700px;
	min-width: 700px;
}
#main #overview {
	width: 700px;
	height: 800px;
	position: relative;
	float: left;
}
#main #overview .aspect {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	text-decoration: none;
	color: #3B64EA;
}
#main #overview #aspect_reduced_cost_of_development {
	position: absolute;
	top: 385px;
	left: 382px;
}
#main #overview .aspect:hover {
	color: #00AF2F;
	text-decoration: none;
}
#aspect_single_source_controll_system {
	position: absolute;
	top: 58px;
	left: 248px;
}
#aspect_developer_friendly_architecture {
	position: absolute;
	top: 128px;
	left: 173px;
}
#aspect_transparent_release_management {
	position: absolute;
	top: 78px;
	left: 440px;
}
#aspect_security_profile {
	position: absolute;
	top: 52px;
	left: 13px;
}
#aspect_reduced_cost_of_communication {
	position: absolute;
	top: 231px;
	left: 235px;
}
#aspect_efficient_meetings {
	position: absolute;
	top: 191px;
	left: 27px;
}
#aspect_domain_modelling {
	position: absolute;
	top: 360px;
	left: 80px;
}
#aspect_oo_code {
	position: absolute;
	top: 441px;
	left: 203px;
}
article {
	width: 100%;
}
.band {
	text-align: center;
	padding-top: 9px;
	padding-right: 9px;
	padding-bottom: 9px;
	padding-left: 9px;
	background-color: #8EA6F3;
	color: #FFFFFF;
	font-size: 50px;
}
#main #example_cost_driven_development {
	float: left;
	width: 300px;
	margin-top: 43px;
	text-align: justify;
	font-size: 0px;
}
#main #example_cost_driven_development p {
	font-size: 18px;
}
h2.band {
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
}
